body {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

#nav1 {
    background: #131313;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Roboto', sans-serif;
}

#nav1 span li {
    display: inline-block;
    list-style: none;
    margin-left: .5rem;
}

#nav1 span a {
    text-decoration: none;
    color: #fff;
}

#nav2 {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #AAAAAA;
    margin-left: .5rem;
    margin-right: .7rem;
}

#nav2 span li {
    display: inline-block;
    list-style: none;
    margin-left: .8rem;
}

#nav2 span a {
    text-decoration: none;
    color: #AAAAAA;
}

#icon {
    height: 48px;
    width: 48px;
    border-left: 1px solid rgb(226, 216, 216);
    align-items: center;
}

.fa-search {
   font-size: 17px;
   margin-left: 18px;
   margin-top: 15px;
}

#nav3 {
    height: 30px;
    background-color: rgb(255, 233, 34);;
    padding-left: 1.1rem;
    padding-top: .3rem;
    align-items: center;
    font-size: 14px;
}

#nav3 a {
    text-decoration: none;
    color: rgb(26, 25, 25);
}

.div-one-after-nav {
  background-image: url(images/image3.png);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 1rem;
}

.inside1-div-one-after-nav {
  grid-row: 1/2;
  grid-column: 1/2;
  height: 32rem;
  background-image: url("../images/image4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.inside2-div-one-after-nav {
  height: 14.6rem;
  background-image: url("../images/image5.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: yellow;
  margin: 0;
  padding: 0;
}
.inside3-div-one-after-nav {
  height: 14.6rem;
  background-image: url("../images/image6.png");
  background-size: ;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

}

.middle-div-one-after-nav {
  height: 32rem;
  background-color: #000;
  display: grid;
  grid-template-rows: 1fr 1fr;

}
