body {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

main{
  width: 60%;
  margin: auto;
}

#nav1 {

    background: #131313;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Roboto', sans-serif;
}

#nav1 span li {
    display: inline-block;
    list-style: none;
    margin-left: .5rem;
}

#nav1 span a {
    text-decoration: none;
    color: #fff;
}

#nav2 {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #AAAAAA;
    margin-left: .5rem;
    margin-right: .7rem;
}

#nav2 span li {
    display: inline-block;
    list-style: none;
    margin-left: .8rem;
}

#nav2 span a {
    text-decoration: none;
    color: #AAAAAA;
}

#icon {
    height: 48px;
    width: 48px;
    border-left: 1px solid rgb(226, 216, 216);
    align-items: center;
}

.fa-search {
   font-size: 17px;
   margin-left: 18px;
   margin-top: 15px;
}

#nav3 {
    height: 30px;
    background-color: rgb(255, 233, 34);;
    padding-left: 1.1rem;
    padding-top: .3rem;
    align-items: center;
    font-size: 14px;
}

#nav3 a {
    text-decoration: none;
    color: rgb(26, 25, 25);
}

.div-one-after-nav {
  display: grid;
  grid-template-columns: 2.7fr 1.3fr;
  height: 32rem;
  margin: 0.5rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.inside1-div-one-after-nav {
  position: relative;
  grid-row: 1 / span 2;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52) 15%, #000 85%), url("../images/image4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.inside2-div-one-after-nav {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52) 10%, #000 90%) , url("../images/image5.jpg");
  background-color: #fff;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inside3-div-one-after-nav {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52) 10%, #000 90%), url("../images/image6.png");
  background-size: cover;
  background-position: center;
}

.div-one-after-nav .inside1-div-one-after-nav span {
  position: absolute;
  bottom: 0px;
  width: 80%;
  margin-left: 1rem;
  line-height: normal;
}

.inside2-div-one-after-nav span, .inside3-div-one-after-nav span {
  position: absolute;
  bottom: 0px;
  width: 80%;
  margin-left: 1rem;
  line-height: normal;

}

.div-one-after-nav .inside1-div-one-after-nav span h2 {
  color: #fff;
  font-family: roboto;
  font-size: 40px;
  font-weight: 900;
}

.inside1-div-one-after-nav h1 {
  position: absolute;
  bottom: 22rem;;
  color: #fff;
  height: 96px;
  font-size: 8rem;
  font-family: roboto;
}

.div-one-after-nav .inside2-div-one-after-nav span h2, .div-one-after-nav .inside3-div-one-after-nav span h2 {
  color: #fff;
  font-family: roboto;
  font-size: 20px;
  font-weight: 900;
}

.inside1-div-one-after-nav h5, .inside2-div-one-after-nav h5, .inside3-div-one-after-nav h5 {
  color: #fff;
}

.inside1-div-one-after-nav p, .div-one-after-nav .inside2-div-one-after-nav span p, .div-one-after-nav .inside3-div-one-after-nav span p {
  color: #a6a6a6;
}


.div3 h2 {
  color: orangered;
  font-weight: 700;
}

.div3 h2:hover{
  color: #000;
  cursor: pointer;
}

.inside-div3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.inside-div3 h4 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 28px;
  line-height: 20px;
}

.inside-div3 div img {
  max-width: 100%;
  height: auto;
}

.inside-div3 a {
  text-decoration: none;
  color: #000;
}

.inside-div3 a:hover {
  text-decoration: underline;
  color: orangered;
}

.inside-div3 p {
  font-size: 13px;
  margin-top: 0;
  color: #AAAAAA;
}

.div4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div4 h4 {
  font-weight: 700;
}

.div4 li {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
}

.div4 a {
  text-decoration: none;
  color: orangered;
}

.div4 a:hover {
  color: black;
}


/* div6 to be added here */


.div6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.inside3-div6 {
  background-color: yellow;
  height: 20rem;;
}

#in1 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52) 10%, #000 90%) , url("../images/image5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#in0 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52) 10%, #000 90%) , url("../images/image7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#in2 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52) 10%, #000 90%) , url("../images/images8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#in3 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52) 10%, #000 90%) , url("../images/images9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#in4 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52) 10%, #000 90%) , url("../images/images11.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#in5 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52) 10%, #000 90%) , url("../images/images12.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#in6 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52) 10%, #000 90%) , url("../images/images13.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#in7 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52) 10%, #000 90%) , url("../images/images2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.div6 h2 {
  color: orangered;
  margin-top: 1rem;
}

.div6 h2:hover {
  color: #000;
  cursor: pointer;
}

.div6 h1 {
  color: #fff;
  font-size: 18px;
}

.div6 p {
  color: #fff;
}

.div6 h5 {
  color: #fff;
  margin-top: 1rem;
}

.inside3-div6 span {
  position: relative;
  top: 11rem;
}

footer {
  background-image: linear-gradient(to bottom,#1a1a1a 50%, #000 50%);
  width: 100%;
  height: 20rem;
  padding-top: 2rem;
}

footer ul li {
  width: 4rem;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

footer ul li a i {
  color: #fff;
  font-size: 2rem;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: flex-end;

}

footer p {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-top: 6rem;

}
