body {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

#nav1 {
    background: #131313;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Roboto', sans-serif;
}

#nav1 span li {
    display: inline-block;
    list-style: none;
    margin-left: .5rem;
}

#nav1 span a {
    text-decoration: none;
    color: #fff;
}

#nav2 {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #AAAAAA;
    margin-left: .5rem;
    margin-right: .7rem;
}

#nav2 span li {
    display: inline-block;
    list-style: none;
    margin-left: .8rem;
}

#nav2 span a {
    text-decoration: none;
    color: #AAAAAA;
}

#icon {
    height: 48px;
    width: 48px;
    border-left: 1px solid #aaa;
    align-items: center;
}

.fa-search {
   font-size: 17px;
   margin-left: 18px;
   margin-top: 15px;
}