@media only screen and (max-width: 1230px) {
  body {
    background-color: yellow;
  }

  main {
    width: 100%;
  }

}



@media only screen and (max-width: 1024px) {
  body {
    background-color: #660033;
  }

  .div4-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0;
    overflow: hidden;

  }

.inside-div3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  }

  .div6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1.5rem;
    margin-right: 1rem;
  }

}

@media only screen and (max-width: 757px) {
  body {
    background-color: yellow;
  }
  .div4-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 20rem 20rem 0;
    overflow: hidden;

  }

  .div6 {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1.5rem;
    margin-right: 1rem;
  }

  .inside-div3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    }

    .div-one-after-nav {
      display: grid;
      grid-template-columns: 1fr;
    }

    .div-one-after-nav .inside1-div-one-after-nav span h2 {
      font-size: 15px;
    }

    .inside1-div-one-after-nav {
      grid-row: 1/span 1;
    }
    .div3 .inside-div3 img {
      height: 6rem;
      width: 6rem;
    }

    .div-grid-sm {
      display: grid;
      grid-template-columns: 6rem auto;
      grid-column-gap: 10px;
      margin-left: 1rem;
    }

    #nav1 {
      display: none;
    }
    #nav8 {
      display: none;
    }
  }
