@media only screen and (max-width: 1230px) {
  body {
    background-color: yellow;
  }

  main {
    width: 100%;
  }

}



@media only screen and (max-width: 1000px) {
  body {
    background-color: #000;
  }

  .div4-grid {
    display: grid;
    grid-template-columns: 80px 80px;;

  }

}

@media only screen and (max-width: 757px) {
  body {
    background-color: yellow;
  }
}
